/* General */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

p {
  color: rgb(85, 85, 85);
}

/* Navbar */
#navbar {
  width: 100%;
  position: fixed;
  background-color: plum;
  z-index: 999;
}

nav,
.nav-menu {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 65px;
}

.nav-menu {
  gap: 3rem;
  list-style: none;
  font-size: 1.3rem;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 0.7rem;
  text-decoration-color: rgb(102, 102, 102);
}

.logo {
  font-size: 2.2rem;
}

.logo:hover {
  cursor: default;
}
/* Akhir Navbar */

/* Hamburger Menu */
#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}
/* Akhir Hamburger Menu */

/* Section */
section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* Profile */
#profile {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.profile-picture {
  border-radius: 100%;
}
.pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section-text {
  align-self: center;
  text-align: center;
}

.section-text p {
  font-weight: 600;
}

.p1 {
  text-align: center;
}

.p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* Icons */
.icon {
  cursor: pointer;
  height: 2rem;
}

/* Buttons */
.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1 {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
  cursor: pointer;
}

/* About Section */
#about {
  margin: 25px;
  padding: 30px;
  background-color: plum;
  position: relative;
  border-radius: 30px;
  padding-top: 80px;
}

.touch {
  padding-top: 80px;
}

.about-containers {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  width: 50%;
  flex-wrap: wrap;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* education Section */
#education {
  position: relative;
  padding-top: 80px;
}

#logo-education {
  width: 100px;
  height: 100px;
}

.education-icon {
  text-align: center;
  height: 10rem;
}

.education-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
}

.education-sub-title {
  min-height: 84px;
}

.education-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Hobby Section */
#hobby {
  padding-top: 80px;
}

/* Contact Section */
#contact {
  background-color: plum;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  padding: 30px;
  border-radius: 30px;
  margin: 20px;
  padding-top: 350px;
  padding-bottom: 330px;
}

.contact-info {
  display: flex;
  justify-content: center;
  border-radius: 20rem;
  border: rgb(0, 0, 0) 0.1rem solid;
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* Form dan Input */
.contact-person {
  max-width: 600px;
  margin: 20px auto;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-submit {
  margin-bottom: 10px;
}

/* Footer Section */
footer {
  height: 1vh;
  margin: 0 1rem;
  padding-bottom: 30px;
}

footer p {
  text-align: center;
}

/* Responsive Dekstop */
@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }

  .about-containers {
    flex-wrap: wrap;
  }
}

/* Responsive Tablet */
@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  #education,
  .education-details-container {
    margin-top: 2rem;
  }

  #profile,
  .section-container {
    display: block;
  }

  section,
  .section-container {
    height: fit-content;
  }

  section {
    margin: 0 5%;
  }

  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }

  .about-containers {
    margin-top: 0;
  }
}

/* Responsive Mobile */
@media screen and (max-width: 600px) {
  input[type="text"],
  textarea {
    width: 100%;
  }
  #navbar {
    display: none;
  }
  #contact,
  footer {
    height: 40vh;
  }
  .about-pic {
    height: 87%;
  }

  .profile-picture {
    padding-left: 30px;
    height: 70%;
  }

  #profile {
    height: 83vh;
    margin-bottom: 0;
  }

  div p {
    font-size: 3vw;
  }

  footer nav {
    padding-top: 100px;
    height: fit-content;
    margin-bottom: 2rem;
  }

  #contact {
    padding-top: 300px;
    padding-bottom: 300px;
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  .contact-info-container {
    margin: 0;
  }

  .contact-info {
    display: block;
  }

  .contact-info-container p,
  li a {
    font-size: 0.8rem;
  }

  .education-sub-title {
    font-size: 1.25rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav-link {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }

  .p2 {
    font-size: 1.25rem;
  }

  .title {
    font-size: 2rem;
  }

  .text-container {
    text-align: justify;
  }
}
